@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

* {
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: beige;
}


body div#login-box {
    margin-top: 15vh;
    width: 100%;
    height: calc(100vh-15vh);
    text-align: center;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 350%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form input {
    height: 2.5em;
    margin-bottom: 10px;
}

#sign-in-submit, #sign-up-submit {
    width: 75%;
}

#sign-up-link, #sign-in-link {
    padding-top: 1em;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
