{% extends "base.html.jinja" %}

{% block body %}
<div id="login-box">
    <div class="flex-column">
        <h1>bookdb sso</h1>
        <form class="flex-column">
            <input type="text" name="login" placeholder="login">
            <input type="password" name="password" placeholder="password">
            <div class="flex-row">
                <input type="submit" value="sign in" id="sign-in-submit">
                <a href="/register" id="sign-up-link">sign up</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}